<!DOCTYPE html>
<html>
  <head>
    <title>TesteRubyAiran</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ml-md-5">
    <%= link_to "Controle de Pagamentos", root_path, class: "navbar-brand nav-bar-ml" %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav-bar-ml">
        <li class="nav-item">
          <%= link_to "Pagamentos", invoices_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Clientes", customers_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Formas de pagamento", invoice_types_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </nav>

  <%= yield %>
  </body>
</html>
